{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/pages.css' %}">
{% endblock %}

{% block content %}
<section class="page-content">
  <div class="container my-5">
    <h1 class="text-center">{% trans "О проекте" %}</h1>
    <p>
      {% trans "HackMate — это платформа для поиска команды и сокомандников для участия в хакатонах." %}
      {% trans "Мы помогаем разработчикам, дизайнерам, аналитикам и другим профессионалам находить" %}
      {% trans "единомышленников для совместной работы и реализации крутых идей." %}
    </p>
    <p>
      {% trans "Наша цель — объединить людей с общими интересами и способствовать их профессиональному росту." %}
    </p>
  </div>
</section>
{% endblock %}
