{% extends "base.html" %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/pages.css' %}">
{% endblock %}

{% block content %}
<section class="page-content">
  <div class="container my-5">
    <h1 class="text-center">Контакты</h1>
    <ul>
      <li>Email: <a href="mailto:support@hackmate.ru">support@hackmate.ru</a></li>
      <li>Телефон: +7 (999) 123-45-67</li>
      <li>Адрес: Москва, ул. Программистов, д. 1</li>
      <li>Телеграм руководителя: @KIPERQW</li>
      <li>Телеграм службы поддержки: @l_kharazyan</li>
      <li>Телеграм секретаря: @shel_makar</li>
    </ul>
  </div>
</section>
{% endblock %}

