{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/pages.css' %}">
{% endblock %}

{% block content %}
<section class="page-content">
  <div class="container my-5">
    <h1 class="text-center">{% trans "Контакты" %}</h1>
    <ul>
      <li>{% trans "Email: " %}<a href="mailto:support@hackmate.ru">support@hackmate.ru</a></li>
      <li>{% trans "Телефон: " %}+7 (999) 123-45-67</li>
      <li>{% trans "Адрес: " %}Москва, ул. Программистов, д. 1</li>
      <li>{% trans "Телеграм руководителя: " %}@KIPERQW</li>
      <li>{% trans "Телеграм службы поддержки: " %}@l_kharazyan</li>
      <li>{% trans "Телеграм секретаря: " %}@shel_makar</li>
    </ul>
  </div>
</section>
{% endblock %}
