.container > section {
    margin: 30px;
    max-width: 900px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    margin: 30px;
}


.edit-profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
}

textarea {
    resize: vertical;
    height: 100px;
}

.current-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #007bff;
    object-fit: cover;
    background-color: #eaeaea;
}
.delete-link-btn {
    background: none;
    border: none;
    color: #dc3545;

}


.delete-link-btn:hover {
    background-color: rgba(220, 53, 69, 0.1);
    color: darkred;
}

.delete-link-form {
    display: inline-block;
    margin-left: 8px;
}
button {
    align-self: flex-start;
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 20px;
}

