h1 {
    text-align: center;
    font-size: 1.8rem;
    margin: 30px;
}

.grow-button {
    border:none;
    margin: 10px;
    text-decoration: none;
    background:transparent;
    --btn-width: 210px;
    width: var(--btn-width);
    min-height:45px;
    background-color:rgb(71, 172, 255);
    color:white;
    font-weight:bold;
    border-radius:50px;

    cursor: pointer;
    box-sizing: content-box;
    text-align:center;

    display:flex;
    justify-content:center;
    align-items:center;

    --expand: 0px;

    position:relative;
    transition: padding 0.5s, left 0.5s;

    padding-inline:var(--expand);
    left: calc( var(--expand) * -1);

    &:hover, &:active {
      --expand: calc( var(--btn-width) * .1);
    }
  }