{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'homepage:homepage' %}">
    <img src="{% static 'logo/favicon.ico' %}" width="48">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    {% with request.resolver_match.view_name as view_name %}
    <ul class="navbar-nav">
      <li>
        <a class="nav-link {% if view_name == 'homepage:homepage' %}{% endif %}"href="{% url 'homepage:homepage' %}">Главная</a>
      </li>
    </ul>
    {% endwith %}
  </div>
</nav>
