{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'homepage:homepage' %}">
    <img src="{% static 'logo/favicon.ico' %}" width="48">
  </a>
  {% with request.resolver_match.view_name as view_name %}
  <article class="navbar-nav list-group">
    <a class="{% if view_name == 'homepage:homepage' %}list-group-item list-group-item-info {% endif %}" href="{% url 'homepage:homepage' %}">Главная</a>
    {% if not request.user.is_authenticated %}
			<a href="{% url 'users:signup' %}" class="{% if view_name == 'users:signup' %}list-group-item list-group-item-info {% endif %}">Регистрация</a>
			<a href="{% url 'users:login' %}" class="{% if view_name == 'users:login' %}list-group-item list-group-item-info {% endif %}">Авторизация</a>
		{% else %}
			<a href="{% url 'users:profile' %}" class="{% if view_name == 'users:profile' %}list-group-item list-group-item-info {% endif %}">Профиль</a>
		{% endif %}
    {% if request.user.is_superuser %}
			<a href="/admin/">Админка</a>
		{% endif %}
  </article>
  {% endwith %}
</nav>
