{% load i18n %}
{% load static %}
{% load notifications_tags %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
  <a class="navbar-brand" href="{% url 'homepage:homepage' %}">
    <img src="{% static 'logo/favicon.ico' %}" width="48">
  </a>
  {% with request.resolver_match.view_name as view_name %}
  <article class="navbar-nav list-group">
    <a class="{% if view_name == 'homepage:homepage' %}list-group-item list-group-item-info {% endif %}" href="{% url 'homepage:homepage' %}">{% trans "Главная" %}</a>
    <a class="{% if view_name == 'vacancies:vacancies' %}list-group-item list-group-item-info {% endif %}" href="{% url 'vacancies:vacancies' %}">{% trans "Найти команду" %}</a>
    {% if not request.user.is_authenticated %}
      <a href="{% url 'users:signup' %}" class="{% if view_name == 'users:signup' %}list-group-item list-group-item-info {% endif %}">{% trans "Регистрация" %}</a>
      <a href="{% url 'users:login' %}" class="{% if view_name == 'users:login' %}list-group-item list-group-item-info {% endif %}">{% trans "Авторизация" %}</a>
    {% else %}
      <a href="{% url 'vacancies:user_responses' %}" class="{% if view_name == 'vacancies:user_responses' %}list-group-item list-group-item-info {% endif %}">{% trans "Мои отклики" %}</a>
      <a href="{% url 'vacancies:user_vacancies' %}" class="{% if view_name == 'vacancies:user_vacancies' %}list-group-item list-group-item-info {% endif %}">{% trans "Мои вакансии" %}</a>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {% if request.user.profile.image %}
              <img src="{{ request.user.profile.image.url }}" alt="" class="dropdown-image">
            {% else %}
              <img src="{% static 'img/default-avatar.jpg' %}" alt="Default Avatar" class="dropdown-image">
            {% endif %}
              <p class="dropdown-username">{{ request.user.username }}</p>
          </button>
          <ul class="dropdown-menu">
            {% if request.user.is_superuser %}
              <li><a href="/admin/" class="dropdown-item">{% trans "Админка" %}</a></li>
            {% endif %}
            <li><a href="{% url 'users:profile' username=user %}" class="dropdown-item">{% trans "Профиль" %}</a></li>
            <li><a href="{% url 'users:profile_edit' %}" class="dropdown-item">{% trans "Редактирование профиля" %}</a></li>
            <li><a href="{% url 'users:password_change' %}" class="dropdown-item">{% trans "Изменить пароль" %}</a></li>
            <li><a href="{% url 'users:password_reset' %}" class="dropdown-item">{% trans "Восстановить пароль" %}</a></li>
            <li><a href="{% url 'users:logout' %}" class="dropdown-item">{% trans "Выйти" %}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </article>
  <form action="{% url 'set_language' %}" method="post" class="d-flex">
		{% csrf_token %}
		<input name="next" type="hidden" value="{{ request.get_full_path }}">
		<select name="language" class="form-select">
			{% get_current_language as LANGUAGE_CODE %}
			<option value="ru" {% if LANGUAGE_CODE == 'ru' %}selected{% endif %}>Русский</option>
			<option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
		</select>
		<button type="submit" class="btn border-white ms-2 btn-dark">{% trans "Сменить" %}</button>
	</form>
  <div class="dropdown">
    {% with request.user.notifications.unread as unread_notifications %}
      <a href="#" id="notificationDropdown" data-bs-toggle="dropdown" aria-expanded="false" class="bell-link">
        <i class="fa fa-bell"></i>
        {% if unread_notifications %}
          <span class="badge bg-danger">{{ unread_notifications|length }}</span>
        {% endif %}
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
        {% if unread_notifications %}
          {% for notification in unread_notifications %}
            <li class="notification-dropdown-item-li">
              <p class="dropdown-item dropdown-item-notify" href="#">
                <a href="{% url 'users:profile' notification.actor %}" class="notification-profile-link">{{ notification.actor }}</a> {{ notification.verb }} - {{ notification.timestamp|date:"d.m.Y H:i" }}
              </p>
              <a href="{% url 'notify:readone_notification' notification.pk %}" class="readone_notification">⨯</a>
            </li>
          {% endfor %}
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="notification-dropdown-item-li">
            <a class="dropdown-item dropdown-item-notify" href="{% url 'notify:readall_notifications' %}">{% trans "Отметить все как прочитанные" %}</a>
          </li>
        {% else %}
          <li>
            <p class="dropdown-item text-muted dropdown-item-notify" href="#">{% trans "Нет новых уведомлений" %}</p>
          </li>
        {% endif %}
      </ul>
    {% endwith %}
  </div>
  {% endif %}
  {% endwith %}
</nav>
