{% extends "base.html" %}

{% load static %}

{% block links %}
	<link rel="stylesheet" href="{% static 'css/users/signup.css' %}">
{% endblock %}

{% block content %}
	<section class="container">
		{% if messages %}
			<div class="messages" role="alert">
				{% for message in messages %}
					<p{% if message.tags %} class="alert alert-dark {{ message.tags }}"{% endif %}>{{ message }}</p>
				{% endfor %}
			</div>
		{% endif %}

		<article class="form">
			<form method="post" enctype="multipart/form-data" class="form-group">
				{% csrf_token %}
					{% for field in form %}
						{% include "includes/form.html" %}
					{% endfor %}
				<button type="submit" class="btn btn-primary">Отравить</button>
			</form>
		</article>
	</section>
{% endblock %}