{% extends "base.html" %}

{% load static %}

{% block links %}
	<link rel="stylesheet" href="{% static 'css/users/profile.css' %}">
{% endblock %}

{% block content %}
	<section class="container">
		<div class="profile-header">
			<div class="profile-avatar">
				{% if user.profile.image %}
					<img src="{{ user.profile.image.url }}" alt="{{ user.username }}" class="avatar">
				{% else %}
					<img src="{% static 'img/default-avatar.jpg' %}" alt="Default Avatar" class="avatar">
				{% endif %}
			</div>
			<div class="profile-info">
				<h1>{{ user.username }}</h1>
				<p>Email: {{ user.email }}</p>
				{% if user.profile.description %}
					<p>О себе: {{ user.profile.description }}</p>
				{% else %}
					<p>О себе: Информация не указана.</p>
				{% endif %}
				{% if user.profile.birthday %}
					<p>День рождения: {{ user.profile.birthday }}</p>
				{% else %}
					<p>День рождения: Информация не указана.</p>
				{% endif %}
				{% if user.profile.country %}
					<p>Страна: {{ user.profile.country.country.alternate_names }}</p>
				{% else %}
					<p>Страна: Информация не указана.</p>
				{% endif %}

				{% if user.profile.city %}
					<p>Город: {{ user.profile.city }}</p>
				{% else %}
					<p>Город: Информация не указана.</p>
				{% endif %}
				<p>Дата регистрации: {{ user.date_joined|date:"d.m.Y" }}</p>
			</div>
			<section class="links-section">
				<h2>Ссылки на другие сети</h2>

				{% if user.profile.links.exists %}
					<ul>
						{% for link in user.profile.links.all %}
							<p><h5>{{ link.site_type }}
							<a href="{{ link.url }}" target="_blank" title="{{ link.get_site_type_display }}">
								<i class="fab {{ link.get_fa_icon_class }} site-icon"></i>
							</a>
						</h5>
							</p>
						{% endfor %}
					</ul>
				{% else %}
					<p>Ссылки отсутствуют.</p>
				{% endif %}
			</section>

		</div>
		<div class="profile-actions">
			<a href="{% url 'users:profile_edit' %}" class="btn btn-primary">Редактировать профиль</a>
		</div>
{% endblock %}