{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block links %}
	<link rel="stylesheet" href="{% static 'css/users/profile_edit.css' %}">
{% endblock %}

{% block content %}
	<section class="container">
		<h1>{% trans "Редактирование профиля" %}</h1>

		{% if messages %}
			<div class="messages" role="alert">
				{% for message in messages %}
					<p{% if message.tags %} class="alert alert-dark {{ message.tags }}"{% endif %}>{{ message }}</p>
				{% endfor %}
			</div>
		{% endif %}

		<form method="post" enctype="multipart/form-data" class="edit-profile-form">
			{% csrf_token %}

			<div class="form-group">
				<label for="id_image">{% trans "Аватар" %}</label><br>

				{% if user.profile.image %}
					<img src="{{ user.profile.image.url }}" alt="{% trans 'Текущий аватар' %}" class="img-thumbnail mb-3 current-avatar">
					<form method="post">
						{% csrf_token %}
						<button type="submit" name="delete_image" value="true" class="btn btn-danger">
							{% trans "Удалить изображение" %}
						</button>
					</form>

				{% else %}
					<p class="text-muted">{% trans "Аватар отсутствует" %}</p>
				{% endif %}

				{% for field in form %}
					{% include "includes/form.html" %}
				{% endfor %}
				{% for field in profile_form %}
					{% include "includes/form.html" %}
				{% endfor %}

				{{ country_form.as_p }}
				{{ city_form.as_p }}

				<h2>{% trans "Добавить новую ссылку" %}</h2>
				{% for field in link_form %}
					{% include "includes/form.html" %}
				{% endfor %}
				<button type="submit" name="add_link" class="btn btn-primary">{% trans "Сохранить изменения" %}</button>
		</form>
		<h2>{% trans "Ссылки на другие сети" %}</h2>

		{% if user.profile.links.exists %}
			<ul>
				{% for link in user.profile.links.all %}
					<li class="li-links">
						<a href="{{ link.url }}" target="_blank" title="{{ link.get_site_type_display }}">
							<i class="fab {{ link.get_fa_icon_class }} site-icon"></i>
							{{ link.site_type }}
						</a>
						<form method="post" action="{% url 'users:delete_link' pk=link.pk %}" class="delete-link-form">
							{% csrf_token %}
							<button type="submit" class="close delete-link-button" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</form>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>{% trans "Ссылки отсутствуют." %}</p>
		{% endif %}
		<div class="password-container">
			<a href="{% url 'users:password_change' %}" class="password">{% trans "Изменить пароль" %}</a>
			<a href="{% url 'users:password_reset' %}" class="password">{% trans "Восстановить пароль" %}</a>
		</div>
	</section>
{% endblock %}
