{% extends "base.html" %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/users/profile.css' %}">
{% endblock %}

{% block content %}
<section class="container">
    <div class="profile-header">
        <div class="profile-avatar">
            {% if user.profile.image %}
                <img src="{{ user.profile.image.url }}" alt="{{ user.username }}" class="avatar">
            {% else %}
                <img src="{% static 'images/default-avatar.png' %}" alt="Default Avatar" class="avatar">
            {% endif %}
        </div>
        <div class="profile-info">
            <h1>{{ user.username }}</h1>
            <p>Email: {{ user.email }}</p>
            {% if user.profile.description %}
                <p>О себе: {{ user.profile.description }}</p>
            {% else %}
                <p>О себе: Информация не указана.</p>
            {% endif %}
            {% if user.profile.birthday %}
                <p>День рождения: {{ user.profile.birthday }}</p>
            {% else %}
                <p>День рождения: Информация не указана.</p>
            {% endif %}
            <p>Дата регистрации: {{ user.date_joined|date:"d.m.Y" }}</p>
        </div>
    </div>
     <div class="profile-actions">
        <a href="{% url 'users:profile_edit' %}" class="btn btn-primary">Редактировать профиль</a>
    </div>
{% endblock %}