{% extends "base.html" %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/users/profile_edit.css' %}">
{% endblock %}

{% block content %}
<section class="container">
    <h1>Редактирование профиля</h1>

    {% if messages %}
        <div class="messages" role="alert">
            {% for message in messages %}
                <p{% if message.tags %} class="alert alert-dark {{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data" class="edit-profile-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_image">Аватар</label><br>
            {% if user.profile.image %}
                <img src="{{ user.profile.image.url }}" alt="Текущий аватар" class="current-avatar"><br>
	          {% else %}
	            <p>Изображение отстутсвует</p>
            {% endif %}
        </div>
			{% for field in form %}
					{% include "includes/form.html" %}
			{% endfor %}

			{% for field in profile_form %}
					{% include "includes/form.html" %}
			{% endfor %}


        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</section>
{% endblock %}
