{% extends "base.html" %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/feedback/feedback.css' %}">
{% endblock %}

{% block content %}
	<section class="container">
		{% if messages %}
			<div class="messages" role="alert">
				{% for message in messages %}
					<p{% if message.tags %} class="alert alert-dark {{ message.tags }}"{% endif %}>{{ message }}</p>
				{% endfor %}
			</div>
		{% endif %}
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{% for field in form %}
					{% include "includes/form.html" %}
			{% endfor %}

			{% for field in profile_form %}
					{% include "includes/form.html" %}
			{% endfor %}
			<button type="submit" class="btn btn-primary">Сохранить</button>
		</form>
		<a href="{% url 'homepage:coffee' %}" class="btn btn-link">Выпить кофе</a>

		<div>
			<a href="{% url 'statistic:user_stats'%}" class="btn btn-link">Cтатистика профиля</a>
		</div>
		<div>
			<a href="{% url 'statistic:user_rated_items'%}" class="btn btn-link">Оцененные товары</a>
		</div>
	</section>
{% endblock %}