{% extends "base.html" %}

{% load static %}

{% block links %}
	<link rel="stylesheet" href="{% static 'css/catalog/item.css' %}">
{% endblock %}

{% block content %}
	<section class="container">
		<article>
			{% if user.first_name %}
				<h4 class="card-title">Имя: {{ user.first_name }}</h4>
			{% else %}
				<h4 class="card-title">Имя: <em>неуказано</em></h4>
			{% endif %}

			{% if user.last_name %}
				<h4 class="card-title">Фамилия: {{ user.last_name }}</h4>
			{% else %}
				<h4 class="card-title">Фамилия: <em>неуказано</em></h4>
			{% endif %}

			{% if user.profile.birthday %}
				<h4 class="card-title">День рождения: {{ user.profile.birthday }}</h4>
			{% endif %}

			<h4 class="card-title">Пытался попить кофе {{ user.profile.coffee_count }} раз(а)</h4>

			{% if user.profile.image %} 
				<article class="MainImage">
					<img src="{{ user.profile.image.url }}" alt="" class="main_image">
				</article>
			{% else %}
				<p>Изображение отсутствует</p>
			{% endif %}
		</article>
	</section>
{% endblock %}